
body{
	background-image: url(d.jpg); 
	background-size: cover;
	background-attachment: fixed;
}


h1{
	text-decoration:underline;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	opacity:0.9;
	font-family: monospace ;
	background: linear-gradient( to right , pink, red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
h2{
	text-align:center ;
	font-size: 20px ;
	font-family: courier ;
	color: white;
	opacity:0.8;
}

h6{
	text-align: right;
	font-size: 10px;
	color: white;
	opacity:0.8;
}

.message{
	margin: 5px auto;
	display: grid;
	place-items: center;
}

.message>p{
	background: url(g.jpg) no-repeat;
	max-width: 200%;
	height: auto;
	font-size: 20px;
	font-style:  italic;
	color: white;
	text-shadow: 2px 2px black;
	margin: 10px auto;
	padding: 10px 7px 10px 7px;
	
}
.TIPS{
	margin: 5px auto;
	display: grid;
	place-items: center;
}
.TIPS>ul{
	padding: 20px 40px 20px 40px;
	border: 2px solid black;
	font-size: 15px;
	text-align: left;
	color: white;
	font-family:courier;
	margin: 5px auto;
}

.image{
	margin: 5px auto;
	display: grid;
	place-items: center;
}

.image>p{
	background: url(sleep.jpg) no-repeat;
	background-position: center;
	max-width: 200%;
	height: auto;
	font-size: 30px;
	text-shadow: 2px 2px black;
	font-family: Comic Sans MS;
	font-style:  italic;
	color: white;
	text-align: left;
	padding: 250px 400px 250px 400px;

}
}

.story{
	margin: 5px auto;
	display: grid;
	place-items: center;
}
.story>p{
	font-size: 20px;
	font-family:serif;
	text-shadow:  2px 2px black;
	color:white;
	word-wrap: break-word;
	white-space: pre-line;
	font-family: courier;
	text-align: left;
	padding: 10px 80px 100px 80px;
	margin: 5px auto;

}

.story>p::first-letter{
	font-size:300%;
	color: lime;
}

.chapter{
	margin: 5px auto;
	display:grid;
	place-items: center;
}

.chapter>p{
	background-image: url(spook.jpg) no-repeat;
	max-width: 100%;

	height: auto;
	font-size:25px;
	font-family: Moon ;
	color: black;
	text-shadow: 2px 2px white;
}
